<div class="dialog-container">
  <h2 mat-dialog-title>Detalji korisnika</h2>

  <mat-dialog-content>
    <!-- Error display -->
    <div *ngIf="error" class="error">{{ error }}</div>

    <!-- Editable form fields -->
    <div class="form-fields">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="userData.id" placeholder="ID" />
      </mat-form-field>
      <button (click)="searchUserById()" style="margin-top: 8px;">Pretraga</button>

      <mat-form-field>
        <mat-label>Ime</mat-label>
        <input matInput [(ngModel)]="userData.name" placeholder="Ime" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userData.email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="userData.phone" placeholder="Telefon" />
      </mat-form-field>

      <div class="rejection-container">
        <mat-form-field class="rejection-field">
          <mat-label>Razlog odbijanja</mat-label>
          <input
            matInput
            [(ngModel)]="userData.rejectionReason"
            (focus)="showRejectionList = true"
            (blur)="hideRejectionListWithDelay()"
            placeholder="Izaberi razlog"
          />
        </mat-form-field>

        <div *ngIf="showRejectionList" class="rejection-list">
          <div
            *ngFor="let reason of rejectionReason"
            (mousedown)="selectRejectionReason(reason)"
            [class.selected]="userData.rejectionReason === reason">
            {{ reason }}
          </div>
        </div>
      </div>


    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button color="primary" (click)="saveUser()">
      <span class="button-icon">💾</span>
      Sačuvaj
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      <span class="button-icon">✕</span>
      Zatvori
    </button>
  </mat-dialog-actions>
</div>


